{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{{ path('home_connected') }}">Accueil</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="{{ path('security_login') }}" class="nav-link">Se déconnecter</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="jumbotron text-center">
        <h1>Sortir.com</h1>
    </div>
    <h2 style="text-align: center; margin-bottom:40px">Mon profil</h2>
    <div class="container" style="text-align: center;">
        <div class="row" style="justify-content:center">
            <form action="{{ path('myProfile') }}" method="post">
                <p>
                    <label for="pseudo">Pseudo :</label>
                    <input type="text" name="pseudo" id="pseudo" value="{{ app.user.pseudo }}"/>
                </p>
                <p>
                    <label for="pseudo">Nom :</label>
                    <input type="text" name="name" id="name" value="{{ app.user.name }}"/>
                </p>
                <p>
                    <label for="firstname">Prénom :</label>
                    <input type="text" name="firstname" id="firstname" value="{{ app.user.firstname }}"/>
                </p>
                <p>
                    <label for="phone">Téléphone :</label>
                    <input type="text" name="phone" id="phone" value="{{ app.user.phone }}"/>
                </p>
                <p>
                    <label for="password">Mot de passe :</label>
                    <input type="password" name="password" id="password" value="{{ app.user.password }}"/>
                </p>
                <p>
                        <label for="confirm_password">Confirmation :</label>
                    <input type="password" name="confirm_password" id="confirm_password" value="{{ app.user.confirm_password }}"/>
                </p>
                <div class="row">
                    <label for="campus">Campus :</label>
                    <select name="campus" id="campus">
                        {% for camp in campus %}
                            <option value="{{ camp.name }}">{{ camp.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <p>
                    <label for="photo">Ma photo :</label>
                    <button type="submit">Télécharger vers le serveur</button>
                <p>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                     <a href="{{ path('home_connected') }}">
                     <button type="submit" class="btn btn-primary">Annuler</button>
                    </a>
                </p>
            </form>
        </div>
    </div>

{% endblock %}